@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
	background: linear-gradient(90deg, #010710, #08080c);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
	font-family: "Rubik", sans-serif;
  	font-style: normal;
	max-width: 660px;
	margin: auto;
	padding: 1em;
	color: #ccc;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

footer {
	text-align: center;
}

hr, ul {
	margin-bottom: 2em;
}

h1 {
	color: white;
	text-transform: uppercase;
}

a:link {
	  color: deeppink;
}

a:visited {
	  color: hotpink;
}

a:hover {
	  color: white;
}

img {
	display: block;
	margin: auto;
}

.project {
	padding-left: 9px;
	border-left: solid 3px #ccc;
}
